In [1]:
import mysql.connector

#### Creating Connection b/w python and mysql

In [4]:
mydb = mysql.connector.connect( 
    host="localhost", 
    user="root", 
    passwd="" 
) 
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000218D97DFEE0>

#### Creating a new database in mysql server

In [5]:
mycursor = mydb.cursor() 
mycursor.execute("CREATE DATABASE mydatabase")

#### list all database to check whether the database is create or not

In [9]:
mycursor.execute("SHOW DATABASES") 
for x in mycursor: 
    print(x)

('amazing_hrm_payroll',)
('ber',)
('ber_new',)
('businessfest',)
('cmdhmsedu_db',)
('dams',)
('firebase',)
('fpma',)
('fpma13may23',)
('fpma_cms',)
('fpma_online',)
('hms',)
('hms_sims',)
('iftech',)
('imdigisol',)
('information_schema',)
('kpaudit',)
('mmisdb',)
('mydatabase',)
('mysql',)
('pcmisparaplegicc_db',)
('performance_schema',)
('portalkppcgkp_db',)
('powergem',)
('pps_sims',)
('pps_web',)
('rmcthbsoft',)
('semis',)
('sys',)
('telenorsms',)
('test',)
('testing_v2',)
('testingdb',)

#### Creating new table in mysql

In [17]:
mydb = mysql.connector.connect( 
host="localhost", 
user="root", 
passwd="", 
database="mydatabase" 
)

In [18]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

#### insert query

In [19]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)" 
val = ("Adnan", "Teacher") 
mycursor.execute(sql, val) 
mydb.commit() 
print(mycursor.rowcount, "record inserted.")

1 record inserted.

#### insert query for multiple record

In [21]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)" 
val = [
        ('Inam ul haq', 'Teacher'),
        ('Junaid', 'Student')
]
        
mycursor.executemany(sql, val) 
mydb.commit() 
print(mycursor.rowcount, "record inserted.")

2 record inserted.

#### select query

In [23]:
mycursor.execute("SELECT * FROM customers") 
myresult = mycursor.fetchall() 
for x in myresult: 
    print(x)

('John', 'Highway 21')
('Inam ul haq', 'Teacher')
('Junaid', 'Student')

#### update query

In [25]:
sql = "UPDATE customers SET address = 'abc' WHERE address = 'xyz'" 
mycursor.execute(sql) 
mydb.commit() 
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

#### delete query

In [26]:
sql = "DELETE FROM customers" 
mycursor.execute(sql) 
mydb.commit() 
print(mycursor.rowcount, "record(s) affected")

3 record(s) affected