In [37]:
!python.exe -m pip install --upgrade pip

Requirement already satisfied: pip in d:\installed\anaconda\lib\site-packages (23.3.1)
Collecting pip
  Downloading pip-23.3.2-py3-none-any.whl.metadata (3.5 kB)
Downloading pip-23.3.2-py3-none-any.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 383.3 kB/s eta 0:00:06
   --- ------------------------------------ 0.2/2.1 MB 579.6 kB/s eta 0:00:04
   ----- ---------------------------------- 0.3/2.1 MB 934.1 kB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.1 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.1 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.1 MB/s eta 0:00:02
   --------- ------------------------------ 0.5/2.1 MB 962.6 kB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 1.1 MB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.2 MB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 1.2 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 1.6 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.6 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.1 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.8 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.3.1
    Uninstalling pip-23.3.1:
      Successfully uninstalled pip-23.3.1
Successfully installed pip-23.3.2

In [89]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in d:\installed\anaconda\lib\site-packages (2.2.9)

In [1]:
import mysql.connector

#### Creating Connection b/w python and mysql

In [14]:
mydb = mysql.connector.connect( 
    host="localhost", 
    user="root", 
    passwd="",
) 
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001B5F9BBCBE0>

#### Creating a new database in mysql server

In [15]:
mycursor = mydb.cursor() 
mycursor.execute("create DATABASE datascience")

#### list all database to check whether the database is create or not

In [16]:
mycursor.execute("SHOW DATABASES") 
for x in mycursor: 
    print(x)

('amazing_hrm_payroll',)
('ber',)
('ber_new',)
('businessfest',)
('cmdhmsedu_db',)
('dams',)
('datascience',)
('firebase',)
('fpma',)
('fpma13may23',)
('fpma_cms',)
('fpma_online',)
('hms',)
('hms_sims',)
('iftech',)
('imdigisol',)
('information_schema',)
('kpaudit',)
('mmisdb',)
('mydatabase',)
('mysql',)
('pcmisparaplegicc_db',)
('performance_schema',)
('portalkppcgkp_db',)
('powergem',)
('pps_sims',)
('pps_web',)
('rmcthbsoft',)
('semis',)
('sys',)
('telenorsms',)
('test',)
('testing_v2',)
('testingdb',)

#### Creating new table in mysql

In [31]:
mydb = mysql.connector.connect( 
host="localhost", 
user="root", 
passwd="", 
database="datascience" 
)

In [18]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE students (name VARCHAR(255), address VARCHAR(255))")

#### insert query

In [19]:
sql = "INSERT INTO students (NAME, address) VALUES (%s, %s)" 
val = ("Junaid", "Mardan") 
mycursor.execute(sql, val) 
mydb.commit() 
print(mycursor.rowcount, "record inserted.")

1 record inserted.

#### insert query for multiple record

In [20]:
sql = "INSERT INTO students (name, address) VALUES (%s, %s)" 
val = [
        ('Inam ul haq', 'Nowshera'),
        ('Junaid', 'Swat'),
        ('Ahad', 'Charsadda')
]
        
mycursor.executemany(sql, val) 
mydb.commit() 
print(mycursor.rowcount, "record inserted.")

3 record inserted.

#### select query

In [42]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM students") 
myresult = mycursor.fetchall() 
for x in myresult: 
    print(str(x))

('Adnan', 'Peshawar', 'BS-CS')
('Junaid', 'Mardan', 'BS-SE')
('Junaid', 'Swat', 'BS-CS')
('Shahzaib', 'Swabi', 'BS-CS')

#### update query

In [39]:
sql = "UPDATE students SET class='BS-CS' WHERE name = 'Shahzaib'" 
mycursor.execute(sql) 
mydb.commit() 
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

#### delete query

In [41]:
sql = "DELETE FROM students where name like 'inam%'" 
mycursor.execute(sql) 
mydb.commit() 
print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [14]:
# fetch rows from a MySQL database table
# Use the following methods to fetch data returned by a cursor.execute()
# cursor.fetchall() to fetch all rows
# cursor.fetchone() to fetch a single row
# cursor.fetchmany(SIZE) to fetch limited rows

In [70]:
import mysql.connector
mydb = mysql.connector.connect( 
host="localhost", 
user="root", 
passwd="", 
database="mydatabase" 
) 

try:
    mycursor = mydb.cursor()
    sql = """select * from customers"""
    # set variable in query
    mycursor.execute(sql)
    # fetch result
    #record = mycursor.fetchall()   # fetch all the records from the able
    record = mycursor.fetchmany(1)  # fetch fewer rows
    #record = mycursor.fetchone()   # fetch one rows which does not need the below loop. just print(record)

    for row in record:
        print("Name: = ", row[0], )
        print("Address  = ", row[1], "\n")

except mysql.connector.Error as error:
    print("Failed to get record from MySQL table: {}".format(error))

finally:
    if mydb.is_connected():
        mycursor.close()
        mydb.close()
        print("MySQL connection is closed")

('Adnan', 'Teacher')